section.abi-container {
    background-color: #F8F8F8;
}

section.abi-container > pre {
    color: #004085;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

section.abi-label, section.initialize-contract-label {
    border-top: 1px solid #b8daff;
    border-left: 1px solid #b8daff;
    border-right: 1px solid #b8daff;
    padding: 10px;
    background-color: white;
}

section.initialize-contract-container, section.abi-container {
    border: #b8daff 1px solid;
    overflow: scroll;
}

section.initialize-contract-container {
    height: fit-content;
    margin-bottom: 100px;
    background-color: white;
}

section.abi-container {
    height: 80vh;
    max-height: 80vh;
}

section.initialize-contract-container {
    padding-left: 50px;
    padding-right: 50px;
}

section.initialize-contract-button {
    padding-bottom: 25px;
}

.particles-js-canvas-el {
    position: fixed;
}