section.manage-contract-label {
    border-top: 1px solid #b8daff;
    border-left: 1px solid #b8daff;
    border-right: 1px solid #b8daff;
    padding: 10px;
    background-color: white;
}

section.manage-contract-container {
    height: fit-content;
    margin-bottom: 100px;
    background-color: white;
    border: #b8daff 1px solid;
    padding: 50px;
}