/*LOADER STYLE*/
div.loader {
    min-width: 100vw;
    min-height: 100vh;
}

div.loader > center > div.spinner-grow {
    height: 300px;
    width: 300px;
    margin-top: 25vh;
    margin-bottom: 25px;
}

code {
    color: #004085 !important;
    background-color: white;
    padding: 3px;
}

.navbar {
    background-color: white !important;
}

.dropdown-menu {
    border: 1px solid #004085 !important;
}

.dropdown-divider {
    border-top: 1px solid #b8daff !important;
}

span.navbar-brand, span.navbar-brand > code{
    cursor: pointer !important;
}

.dropdown-item:hover {
    background-color: white !important;
    border: 5px solid #b8daff !important;
}

.dropdown-item {
    border: 5px solid white !important;
}